
.marker-cluster.bus {
    border-radius: 5px;
    div {
        border-radius: 3px;
    }
    &.marker-cluster-small, &.marker-cluster-medium, &.marker-cluster-large {
	background-color: rgba(200, 170, 150, 0.6);
        div {
	    background-color: rgba(180, 170, 160, 0.6);
        }
    }
}