@import "_settings";
@import "../../bower_components/foundation/scss/foundation";
@import "../../bower_components/sidebar-v2/scss/leaflet-sidebar";
@import "bourbon";

//Your Custom Styles bellow

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #ddee33;
}

#map {
    width: 100%;
    height: 100%;
}