@import "_settings";
@import "../../bower_components/foundation/scss/foundation";
@import "../../bower_components/sidebar-v2/scss/leaflet-sidebar";
@import "bourbon";

@import "markers";
@import "fix-awesomemarkers";
//Your Custom Styles bellow

@import "search";

@import "lines";
@import "times";

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #ddee33;
}

#map {
    width: 100%;
    height: 100%;
}

.sidebar-tabs li a { font-size: 1.5rem; }

.leaflet-control.toggle.active {
    a {
        color: white;
        background-color: #448;
    }
}